extends layout

block title 
    title Zoyeite-WebApps
    meta(charset='utf-8')
    script(src='https://github.com/abdullahshaief/Zoyeite-WebApps/blob/master/public/javascripts/jquery.min.js')
    link#styleSheet(rel='stylesheet', type='text/css', href='https://github.com/abdullahshaief/Zoyeite-WebApps/blob/master/public/stylesheets/style.css')
    meta(name='viewport', content='minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no')
    
block content
    div
      #chatBox
        #overlay
          input#userName(type='text', placeholder='   Your Name')
          h1#connectStatus Welcome! Not connected!
          #messages
          input#chat(type='text', placeholder='Say hi!' required)
          input#send(type='button', value='Send')
      #content(style='text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px lightblue;')
        &#9654;
        a(href='localhost:4319/pages/tictactoe.html') Try TicTacToe! You will need another partner to play!
        
    script(src='https://github.com/abdullahshaief/Zoyeite-WebApps/blob/master/public/javascripts/socket.io-client.min.js')
    script(src='https://github.com/abdullahshaief/Zoyeite-WebApps/blob/master/public/javascripts/styleScript.js')
    script(src='https://github.com/abdullahshaief/Zoyeite-WebApps/blob/master/public/javascripts/client.js')
    
    
